 /* CARTE INTERACTIVE */

 .map__image {
   width: 35%;
   float: right;
   height: 19.5em;
   background: #AFA8A8;
   padding-top: 1em;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
 }

 .map__image path {
   fill: green;
   stroke: #fff;
   stroke-width: 0.1em;
   transition: fill color 0.3s;
 }

 .map__image path:hover {
   fill: rgb(37, 100, 37);
   stroke: #fff;
   stroke-width: 0.1em;
   transition: fill 0.3s;
 }


 /*DEROULANT MOTS-CLES */

 .dropdown {
   display: inline-block;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   min-width: 160px;
   width: 32em;
   z-index: 1;
   background-color: #AFA8A8;
   color: #fff;
   border-radius: 15px;
   /* vertical-align: middle; */
   padding-top: 0.2em;
   padding-bottom: 0.5em;
   padding-left: 0.2em;
   line-height: 1.5em;
 }

 .dropdown-content label {
   display: block;
 }

 /* BOUTONS ET INPUTS/LISTES */

 .infodestination {
   border: solid;

   width: 70.938em;
   height: 20.5em;
   border-radius: 15px;
   border: 1px solid #000;

   margin-right: auto;
   margin-left: auto;

   display: flex;

 }

 .conteneur_recherche {
   display: flex;
   width: 32em;
   height: 3em;
 }

 #depart,
 #arrivee {
   height: 3.5em
 }

 .infoecrit {
   width: 100%;
   align-items: center;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .titre_recherche {
   text-align: center;
   font-size: 1em;
 }

 .champRecherche,
 .dropdown-btn {
   text-align: center;
   border: none;
   border-radius: 2em;
   height: 2em;
   font-size: 1em;
   background: #AFA8A8;
   color: white;
   width: 32em;
   text-decoration: none;
 }

 .champRecherche::placeholder {
   color: #fff;
 }

 .vert {
   background: #4F7242;
 }

 .bouton_vert {
   text-decoration: none;
   color: #fff;
   line-height: 2em;
 }

 .champRecherche-label {
   position: relative;
   width: 100%;
 }

 .champRecherche-label input[type="date"] {
   opacity: 100%;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   cursor: pointer;
 }

 .champRecherche:focus,
 .dropdown-btn:focus {
   border: 2px solid black;
 }

 input[type="date"]::-webkit-calendar-picker-indicator {
   background-image: url(../../../public/img/icons8-calendrier-20.png);
   /* Remplacez par l'URL de votre icône */
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   width: 16px;
   /* Ajustez la taille de l'icône selon vos besoins */
   height: 16px;
   /* padding-right: 1em; */
   border: solid green;
   border-radius: 50%;
   background-color: green;
   padding: 1em;
   cursor: pointer;
 }

 .champRecherche-label:nth-child(1) {
   margin-right: 1em;
 }

 /* DATE */

 .custom-date-input {
   position: relative;
   display: inline-block;
 }

 .custom-date-input label {
   position: absolute;
   /* top: 0; */
   /* left: 0; */
   /* pointer-events: none; */
   padding: 0.5em;
   /* font-size: 1em; */
   background: #AFA8A8;
   color: white;
   border-radius: 2em;
   transition: all 0.3s ease;
 }

 .custom-date-input input[type="date"] {
   /* padding: 0.5em; */
   /* font-size: 1em; */
   background: #AFA8A8;
   color: white;
   border: none;
   border-radius: 2em;
 }

 .custom-date-input input[type="date"]:focus+label,
 .custom-date-input input[type="date"]:valid+label {
   transform: translateX(-100%);
 }

 .champDate {
   z-index: 1;
   border-radius: 2em;
   height: 2em;
   top: -0.1em;
   left: -0.1em;
   font-size: 1em;
   background: #AFA8A8;
   color: white;
   width: 14.8em;
   text-decoration: none;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .cd1,
 .cd2 {
   visibility: visible;
 }

 .cd1-hidden,
 .cd2-hidden {
   visibility: hidden;
 }


 /* CHEVRON BOUTON */

 .chevron::before {
   border-style: solid;
   border-width: 0.15em 0.15em 0 0;
   content: '';
   display: inline-block;
   height: 0.28em;
   left: 0.15em;
   position: relative;
   transform: rotate(-45deg);
   vertical-align: middle;
   width: 0.28em;
   /* top: 0.15em; */
 }

 .chevron.bottom:before {
   top: 0;
   transform: rotate(135deg);
 }

 .dropdown-btn {
   position: relative;
 }

 .chevron {
   position: absolute;
   top: 50%;
   right: 0.5em;
   /* Ajustez la valeur selon vos besoins */
   transform: translate(0, -50%);
 }