.containerPublier {
    height: 35vh;
    text-align: center;
    margin: 2em auto;
}

.publishAnnonce {
    display: flex;
    background-color: greenyellow;
    border-radius: 1em;
    margin: 3em auto;
    width: 80%;
    height: 55%;
    align-items: center;
    justify-content: center;
}

.publishBtn {
    font-size: larger;
    font-weight: bolder;
    height: 3em;
    width: 30%;
    border-radius: 1em;
}