 * {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 /* MENU */
 header {
     display: flex;
     width: 100%;
     height: 5em;
     background-color: #227448;
     align-items: center;
     font-size: 1.3em;
 }

 .navbar {
     width: 100%;
     justify-content: space-between;
     margin-right: 3em;
     margin-left: 3em;
     display: flex;
     align-items: center;
     transition: background-color .3s ease-in-out;
 }

 .navbarGreen {
     background-color: #4cc785;
 }

 .navbarBurger {
     cursor: pointer;
     background: #4cc785;
     color: aliceblue;
     margin-right: 1em;

     @media screen and (min-width: 768px) {
         display: none;
     }
 }

 li:nth-child(2),
 li:nth-child(3),
 li:nth-child(6),
 li:nth-child(7),
 li:nth-child(5) {
     position: relative;
 }



 .langue__arrow {
     transform: rotate(90deg);
 }

 a,
 li {
     color: aliceblue;
     text-decoration: none;
 }

 /* MENUS DEROULANTS */

 .navbar li ul {
     /* PERMET L'APPARITION DU SS-MENU */
     display: none;
 }

 .navbar li:hover ul {
     display: block;
 }

 /* SOUS MENUS DEROULANT */
 .navbarDestination {
     position: absolute;
     border-radius: 0.5em;
     display: block;
     text-align: center;
     left: 50%;
     transform: translateX(-50%);
     background-color: #227448;
 }

 .navbarSearch {
     position: absolute;
     border-radius: 0.5em;
     display: block;
     text-align: center;
     left: 50%;
     transform: translateX(-50%);
     background-color: #227448;
 }

 .navbarCompte {
     position: absolute;
     border-radius: 0.5em;
     display: block;
     text-align: center;
     left: 50%;
     transform: translateX(-50%);
     background-color: #227448;
 }

 .navbarOffer {
     position: absolute;
     border-radius: 0.5em;
     display: block;
     text-align: center;
     left: 34%;
     transform: translateX(-50%);
     background-color: #227448;
 }

 .navbarLangue {
     position: absolute;
     border-radius: 0.5em;
     display: block;
     text-align: center;
     background-color: #227448;
     left: 94%;
 }

 .navbarCompte a,
 .navbarLangue a,
 .navbarDestination a,
 .navbarOffer a,
 .navbarSearch a {
     /* border: solid; */
     text-align: center;
 }

 .langue {
     padding-left: 1.02rem;
 }


 /* TAILLE DES SS-CATEGORIES */

 .navbarCompte li a,
 .navbarLangue li a,
 .navbarDestination li a,
 .navbarOffer li a,
 .navbarSearch li a {
     line-height: 2em;
 }

 .navbarCompte,
 .navbarOffer,
 .navbarDestination {
     width: 150px;
 }

 .navbarLangue {
     width: 2em;
 }

 .vide {
     height: 1.2em;
     /* border: solid; */
 }


 /* RECHERCHE SS CATEGORIE */

 .navbarSearch {
     z-index: 1;
     width: 420%;
     height: 12em;
 }

 .recherche {
     height: 90%;
 }

 .inputDestination {
     border: solid 0.2em;
     height: 3.5em;
 }

 #destination {
     margin-top: 0.5em;
 }

 .hide {
     display: none;
 }