                                    /* BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

                                    /* MENU */
header,
ul {
  display: flex;
}
.centre {
    width: 100%;
    justify-content: space-between;
    margin-right: 3em;
    margin-left: 3em;
}
header {
  width: 100%;
  /* border: solid; */
  height: 4em;
  background-color:#989595;
  align-items: center;
  font-size: 24px;
}

a, li {color: white;
    text-decoration: none;
}

                                    /* MENUS DEROULANTS */

.centre li ul {
                        /* PERMET L'APPARITION DU SS-MENU */
   /* display: none; */
} 

.centre li:hover ul {
  display: block;
}

                                    /* SOUS MENUS DEROULANT */

.sousderoulant1,
.sousderoulant2,
.sousderoulant3,
.sousderoulant4,
.sousderoulant5 {
  position: absolute;
  /* border: solid; */
  /* background-color: #989595; */
  border-radius: 0.5em;
  display: block;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  background-color:#989595;
}

.sousderoulant1 a,
.sousderoulant2 a,
.sousderoulant3 a,
.sousderoulant4 a,
.sousderoulant5 a {
    /* border: solid; */
    text-align: center;
}

.langue {
    padding-left: 1.02rem;
}

.fleche {
  vertical-align: middle;
}

#nomLangue {
  vertical-align: middle;
}



                            /* TAILLE DES SS-CATEGORIES */

.sousderoulant1 li a,
.sousderoulant2 li a,
.sousderoulant3 li a,
.sousderoulant4 li a,
.sousderoulant5 li a {
    line-height: 2em;
}

.sousderoulant1,
.sousderoulant4,
.sousderoulant3 {
    width: 150px;
}
.sousderoulant2 {
width: 2em;
}

.vide {
    height: 1.2em;
    /* border: solid; */
}
  .centre li:nth-child(2),
  .centre li:nth-child(3),
  .centre li:nth-child(6),
  .centre li:nth-child(7),
  .centre li:nth-child(5) {
    position: relative;
  }

                        /* RECHERCHE SS CATEGORIE */

.sousderoulant5 {
    z-index: 1;
    width:420%;
    height: 12em;
    /* background-color: black; */
}

.recherche {
 height: 90%;
 /* border: solid black; */
}

input {
    border: solid 0.2em;
    height: 3.5em;
}

#destination {
    margin-top: 0.5em;
}

#voyageurs {
  border: solid 0.2em green;
  border-radius: 1.5em;
  height: 3em;
}

option {
  border-radius: 1.5em;
} 